<ion-header>
  <ion-toolbar>
    <ion-title color="danger">
      {{title}}
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button color="secondary" (click)="onToggleContentMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-content-menu *ngIf="showContentMenu" (pageClick)="onPageClick($event)"></app-content-menu>
  <div class="finger-swipe" (swipeleft)="onSwipeLeft($event)" (swiperight)="onSwipeRight($event)"
    [ngStyle]="{'height':pdfViewerHeight +'px'}">
  </div>
  <pdf-viewer *ngIf="!!currentPage" #pdf_viewer src="assets/data/paris-travel-guide.pdf"
    (page-rendered)="pageRendered()" [render-text]="false" [show-all]="false" [original-size]="false"
    [page]="currentPage"></pdf-viewer>
</ion-content>